<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>

        <service
            android:name="at.specure.measurement.MeasurementService"
            android:exported="false" />

        <service
            android:name="at.specure.measurement.signal.SignalMeasurementService"
            android:foregroundServiceType="location"
            android:exported="false" />
    </application>
</manifest>
